.container {
    margin-left: 10px;
    margin-top: 10px;
    width: 96%;
    max-width: 600px;
    min-width: 300px;
}


/* the  drop down */

::ng-deep div.mat-form-field-infix {
    width: calc( 280px + (320 - 280) * (100vw - 300px) / (600 - 300));
    /* font-size: 1.25em; */
    font-weight: bold;
    font-size: calc( 14px + (16 - 14) * (100vw - 300px) / (600 - 300));
}

.radio-group {
    display: flex;
    flex-direction: column;
    /* margin: 15px 0; */
}

.radio-button-quiz {
    margin: 10px;
}

.radio-button-results {
    margin: 3px;
}

::ng-deep div.mat-radio-label-content {
    font-size: calc( 14px + (24 - 14) * (100vw - 300px) / (1400 - 400));
    /* font-size: 18px; */
}

::ng-deep label.mat-radio-label {
    white-space: normal;
}

.subTitle {
    font-size: calc( 18px + (30 - 18) * (100vw - 400px) / (1400 - 400));
}

.quizCount {
    margin-bottom: 15px;
    margin-top: -15px;
    font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (1400 - 400));
    color: darkgrey;
}

.theAcronym {
    font-size: calc( 18px + (36 - 18) * (100vw - 400px) / (1400 - 400));
    font-weight: 600;
    margin-bottom: 20px;
}

.mat-stroked-button {
    border: 1px solid currentColor;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 5px;
    width: 60px;
    min-width: 50px;
}

.anotherBtn {
    min-width: 120px;
}

.reviewBtn {
    min-width: 80px;
}

.submitBtn {
    min-width: 110px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.index {
    font-weight: 400;
    font-size: 75%;
    color: dimgrey;
    margin-left: 10px;
}

.correct {
    color: black;
}