<div class="container">
  <mat-card class="outerCard">
    <mat-card-content *ngIf="mode=='quiz' && quiz">

      <mat-form-field class="whichQuizDropdown" >
        <mat-label>Quiz Type</mat-label>
        <mat-select  [(ngModel)]="quizObjName" (selectionChange)="changeQuiz()">
          <mat-option *ngFor="let quiz of quizes" [value]="quiz.objName">{{quiz.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngFor="let acronym of filteredAcronyms">

        <mat-card-title class="subTitle quizCount" >
          {{pager.index + 1}} of {{pager.count}}
        </mat-card-title>

        <label id="radio-group-label" class="theAcronym">{{acronym.acronym}}
          <span *ngIf="acronym.index" class='index' >({{acronym.index}})</span></label>
        <mat-radio-group class="radio-group" [(ngModel)]="optionChosen[pager.index]" (change)="onSelect2(acronym, pager.index)">
          <mat-radio-button class="radio-button-quiz" *ngFor="let option of acronym.options" [value]="option.id">{{option.spelledOut}}</mat-radio-button>
        </mat-radio-group>

      </div>

      <hr/>

      <div class="text-center">
        <button mat-stroked-button *ngIf="config.allowBack" (click)="goTo(0);">First</button>
        <button mat-stroked-button *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Prev</button>
        <button mat-stroked-button (click)="goTo(pager.index + 1);">Next</button>
        <button mat-stroked-button *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Last</button>
        <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
      </div>

    </mat-card-content>

    <mat-card-content *ngIf="mode=='review'">
      <h2 class="text-center font-weight-normal">{{quiz.name}}</h2>
      <div class="col-4 cursor-pointer" *ngFor="let acronym of quiz.acronyms; let index = index;">
        <div (click)="goTo(index)" class="p-3 mb-2 {{ isAnswered(acronym) == 'Answered'? 'bg-info': 'bg-warning' }}">{{index + 1}}. {{ isAnswered(acronym) }}</div>
      </div>
    </mat-card-content>

    <mat-card-content class="result" *ngIf="mode=='result'">
      <h2>Quiz Result</h2>
      <div *ngFor="let acronym of quiz.acronyms; let index = index;">

        <label id="radio-group-label" class="theAcronym">
          <span *ngIf="acronym.moreURL">
            <a target="_blank" href="{{acronym.moreURL}}">{{acronym.acronym}}</a>
          </span>
          <span *ngIf="!acronym.moreURL">{{acronym.acronym}}</span>
          <span *ngIf="acronym.index" class='index' >({{acronym.index}})</span>
        </label>
        <mat-radio-group class="radio-group" [(ngModel)]="acronym.selectedNum" (change)="onSelect2(acronym, pager.index)">
          <mat-radio-button class="radio-button-results" *ngFor="let option of acronym.options" [value]="option.id" disabled="disabled">{{option.spelledOut}}{{ option.isAnswer ? '   <-- Correct': ''}}</mat-radio-button>
        </mat-radio-group>
        <div class="p-1 m-2 alert {{ isCorrect(acronym) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(acronym)}}</div>

      </div>
      <button mat-stroked-button class="anotherBtn" (click)="quizAgain()">Another Quiz</button>

    </mat-card-content>

    <mat-card-content *ngIf="mode!='result'">
      <hr/>
      <button mat-stroked-button (click)="mode = 'quiz'" *ngIf="mode!='quiz'">Quiz</button>
      <button mat-stroked-button class="reviewBtn" (click)="mode = 'review'" *ngIf="mode!='review'">Review</button>
      <button mat-stroked-button class="submitBtn"(click)="onSubmit();">Submit Quiz</button>
    </mat-card-content>

  </mat-card>

</div>