.container {
    margin-left: 10px;
}

.search {
    margin-left: 10px;
}

.acr {
    font-weight: 900;
    font-size: 120%;
}

.index {
    font-weight: 400;
    font-size: 75%;
    color: dimgrey;
    margin-left: 10px;
}

td.mat-cell {
    padding-right: 10px;
}

.mat-table {
    width: 96%;
    max-width: 600px;
}

table.pg {
    width: 96%;
    max-width: 600px;
    border-color: white;
}