<div class="container">

  <mat-form-field class="search">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <table mat-table [dataSource]="acronyms" class="mat-elevation-z8"
         matSort matSortActive="created"
         matSortDisableClear
         matSortDirection="asc">

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Acronym</th>
      <td mat-cell *matCellDef="let record" class="acr"> {{record.Acronym}} </td>
    </ng-container>
    <!-- SpelledOut Column -->
    <ng-container matColumnDef="SpelledOut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Spelled Out</th>
      <td mat-cell *matCellDef="let record">

      <span *ngIf="record.MoreURL">
        <a target="_blank" href="{{record.MoreURL}}">{{record.SpelledOut}}</a>
      </span>
      <span *ngIf="!record.MoreURL">{{record.SpelledOut}}</span>
       
       
       
       </td>
    </ng-container>
    <!-- MoreURL Column -->


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>





